# VLX ChatBridge User Profile
chatbridge_USER: "chatbridge"
chatbridge_DIR: "/opt/VLX_ChatBridge"

modules:
  chatflow_enabled: no
  audiobridge_enabled: no

server:
  base_url: "https://your.ngrok.io"
  path_prefix: "/asortofkey"
  websocket_path: "/websocket"
  allowed_origins:
    - "https://net.example.com"
    - "http://localhost:8000"
    - "http://127.0.0.1:8000"
  port: "8000"
  test_port: "8001"
  overlay_volume: 70 # Master volume for overlays (0-100%)

database:
  path: "/opt/VLX_ChatBridge/var/chatbridge.db"

# Recommended to use 2 different accounts, or at least 2 difrerent tokens
# You can create token with https://twitchtokengenerator.com/
twitch:
  client_id: ""
  client_secret: ""
  webhook_secret: ""
  channel_name: ""
  chat:
    bot_username: ""
    bot_token: ""
    channel_to_join: ""
    command_cooldown: 15  # General cooldown in seconds (default 15)

# YouTube APIs
youtube: # Leave empty to disable YouTube module
  api_key: ""
  channel_id: ""
  polling_interval: 5  # re-read chat every x seconds; the default is 5
  monitor:
    channel_ids:
    - "<channel id>"

# Enables Overlays creations and reproduction routes: 
# html -> audio+video overlay via "server" module
# discord -> audio sent via discord module (reproduced in voice channel)
# streaming -> audio sent via streaming  module (SRT) 
overlay:
  enable: yes
  emotes: # emotes_overlay.html
    html: yes
    discord: no
    streaming: no
    volume: 75
  alerts: # alerts_overlay.html
    html: yes
    discord: yes
    streaming: no
    volume: 75
  chat: # chat_overlay.html
    html: yes
    discord: yes
    streaming: yes
    volume: 75

discord:
  token: ""
  prefix: "vlx."       # Commands prefix (es. !join, !leave)
  guild_id: "<discord server id>" # Optional, but suggested: Restrict to specific Guild ID
  # enable or disable the capture of discord voice channel audio via streaming module (SRT)
  streaming: yes
  # List of Discord User IDs of voice channels partecipante to mute on streaming module 
  excluded_users:
    - "<discord user id>"
    - "<discord user id>"

streaming:
  # SRT Destination (e.g., MediaMTX) # mode=caller to enable "us" as media sender 
  # <channel> is placeholder for overlay_<name>, audio_source, discord_streaming
  destination_url: "srt://127.0.0.1:8890?streamid=publish:ChatBridge/<channel>:<srt user>:<srt pass>&mode=caller&pkt_size=1316"
  bitrate: "128k" # Audio output Bitrate for FFmpeg
  volume: 75    # 0-100, in percentage

audio_source:
  # SRTs source to load and inject into Discord or sent via streaming module. NOTE: volume: 0-100 percentage.
  enable: yes
  discord: yes
  streaming: no
  volume: 80
  url: "srt://some.online.radio"
